.imgBg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  stroke: #fff;
  cursor: pointer;
}

.remind {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
}

.shareImg {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  border-radius: 8px;
  z-index: 99;
}

.container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -99;
  width: 360px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}

.banner {
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #f4f4f4;
  height: 350px;
  margin-bottom: 10px;
}

.body > img {
  display: block;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.creator {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.avatar {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.workName {
  font-size: 18px;
  font-weight: 500;
}

.creatorName {
  font-size: 14px;
  line-height: 18px;
}

.title {
  padding-left: 20px;
  font-size: 14px;
}

.qr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrImg {
  display: block;
  width: 60px;
  height: 60px;
}
